@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

.questionContainer {
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  padding: 50px;
  height: 89vh;
  position: relative;
}
.questionContainer .questionName {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  margin: 20px 0;
  border-bottom: 1px solid black;
}
.questionContainer .questionName .questionNameBlock {
  font-size: 20px;
}
.questionContainer .questionName .questionNameBlock span {
  margin-right: 8px;
}
.questionContainer .questionName .mark_container {
  font-size: 18px;
}
.questionContainer .questionBody {
  margin-top: 50px;
  margin-left: 250px;
  width: auto;
}
.questionContainer .questionBody .options {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.questionContainer .questionBody .options .optionBlock {
  margin: 20px 0;
  display: flex;
}
.questionContainer .questionBody .options .optionBlock .optionContainer {
  background-color: #D9D9D9;
  color: #072c50;
  padding: 0;
  height: auto;
  width: auto;
  border-radius: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionContainer .questionBody .options .optionBlock .optionContainer .option {
  min-width: 130px;
  margin-right: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.questionContainer .questionBody .options .optionBlock .optionContainer .option span {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
}
.questionContainer .questionBody .options .optionBlock .correctAnswer {
  color: white;
  padding: 10px 15px;
  background-color: #17CA53;
  border-radius: 20px;
}
.questionContainer .questionBody .options .optionBlock .wrongAnswer {
  color: white;
  padding: 10px 15px;
  background-color: #FF6868;
  border-radius: 20px;
}
.questionContainer .questionBody .questionChangeButton {
  display: flex;
}
.questionContainer .backButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2D81F7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.questionContainer .backButton:hover {
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

@media (max-width: 1040px) {
  .questionContainer .questionBody {
    margin: 0;
  }
}
@media (max-width: 620px) {
  .questionContainer {
    padding: 10px;
  }
  .questionContainer .questionName {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  .questionContainer .questionName .questionNameBlock {
    font-size: 100%;
  }
  .questionContainer .questionName .questionNameBlock span {
    margin-right: 8px;
  }
  .questionContainer .questionName .mark_container {
    font-size: 100%;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .questionContainer .questionBody .options .optionBlock {
    font-size: 100%;
  }
  .questionContainer .questionBody .options .optionBlock .optionContainer {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
  .questionContainer .questionBody .options .optionBlock .optionContainer span {
    margin-right: 2px;
  }
  .questionContainer .questionBody .options .optionBlock .optionContainer .option {
    font-size: 90%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
  }
  .questionContainer .questionBody .options .optionBlock .optionContainer .option span {
    float: left;
    margin-right: 5px;
  }
  .questionContainer .questionBody .options .optionBlock .correctAnswer {
    display: none;
  }
  .questionContainer .questionBody .options .optionBlock .wrongAnswer {
    display: none;
  }
  .questionContainer .backButton {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}/*# sourceMappingURL=showResultStyle.css.map */