@use "../variables" as *;
.questionContainer{
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
    height: 89vh;
    // position: relative;
    .questionName{
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        margin: 20px 0;
        border-bottom: 1px solid black;
        .questionNameBlock{
            font-size: 20px;
            span{
                margin-right:8px;
            }
        }
        .mark_container{
            // span{
            //     color:$button-color;
            //     font-size: 18px;
            // }
            font-size: 18px;
        }
    }
    .questionBody{
        margin-top: 50px;
        margin-left: 250px;
        width: auto;
        .code{
            width: 50%;
        }
        .options{
            margin: 10px 0;
            // width: auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            
            .optionBlock{
                margin: 20px 0;
                display: flex;
               
                .optionContainer{
                     // font-size: 18px;
                     background-color: #D9D9D9;
                     color:$newBg_color;
                     padding: 0 ;
                     height: auto;
                     width: auto;
                     border-radius: 20px;
                     margin-right: 20px;
                     display: flex;
                     justify-content: flex-start;
                     align-items: center;
            
                    .option{
                        min-width: 130px;
                        // float: left;
                            // margin-right: 5px ;
                            // text-align: center;
                            // display:flex;
                            // justify-content: center;
                            //     align-items: center;
                            span{
                                // background-color: red;
                                border: 1px solid white;
                                display:flex;
                                justify-content: center;
                                align-items: center;
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                text-align: center;
                                margin-right: 10px;
                            }

                            // border: 2px solid white;
                            // width: 40px;
                            // height: 40px;
                            // border-radius: 50%;
                            // display: flex;
                            // justify-content: center;
                            
                        // background-color: 
                    
                      
                    padding:10px 20px;
                }
                }
                
            .correctAnswer{
                color:white;
                padding: 10px 15px ;
                background-color:$greenColor;
                border-radius: 20px;
            }
            .wrongAnswer{
                color:white;
                padding: 10px 15px ;
                background-color: $redColor;
                border-radius: 20px;
            }
            }
            
        }
        .questionChangeButton{
            display: flex;
        }
    }
    .backButton{
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $button-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: white;
        cursor: pointer;
    transition: 0.5s;
    &:hover{
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    }
    }
}

@media (max-width:1040px){
    .questionContainer{
        .questionBody{
            margin: 0;
            
        }
    }
}

@media (max-width:620px){
    .questionContainer{
        padding:10px;
        .questionName{
            display: flex;
            justify-content: flex-start;
            flex-direction: column-reverse;
            .questionNameBlock{
                font-size: 100%;
                span{
                    margin-right:8px;
                }
            }
            .mark_container{
                font-size:  100%;
                margin-bottom: 10px;
                font-weight: 600;
               
            }
        }
        .questionBody{
            .code{
                margin: 10px;
                width: auto;
            }
            .options{
         
                .optionBlock{
                   font-size: 100%;
                .optionContainer{
                //    span{
                //     margin-right: 2px;
                //    }
                //    flex-direction: column;
                //    flex-wrap: wrap;
                //    justify-content: flex-start;
                //    align-items: center;
                    height: auto;
                   .option{
                    font-size: 90%;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    span{
                        float: left;
                        // width: 10px;
                        // height: 10px;

                        
                        margin-right: 5px;
                    }
                    padding: 10px;
                   }

                }
                .correctAnswer{
                    display: none;
                }
                .wrongAnswer{
                    display: none;
                }
                }
                
            }
        }
    .backButton{
        position: static;
        margin-top: 10px;
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
    }
}