@use "../variables" as *;

.completedTopic_container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    .container_child1{
        background-color: rgba(224, 224, 224, 0.491);
        width: 850px;
        border-radius: 10px;
        margin: 50px 0;
        padding: 30px;
        .child1_title{
            padding: 10px 20px;
            background-color: $newBg_color;
            display: inline-block;
            color:white;
            border-radius: 10px;
            margin: 10px 0;
        }
        .child1_range{
            .range_scale{
                width: 100%;
                position: relative;
                height: 15px;
                margin: 10px 0;
                border-radius: 20px;
                background-color: white;
                .range_scale_child{
                    width:auto;
                    height: 100%;
                    position: absolute;
                    // background-color: red;
                    border-radius: 20px;
                    background-color: $newBtn;

                }
            }
            .title_content{
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                div{
                    color:$newBg_color;
                }
            .percent{
                color:$newBtn;
            }
            }
           
        }
    }
    .container_child2{
        // position: relative;
        background-color: rgba(224, 224, 224, 0.491);
        width: 850px;
        // width: 100%;
        border-radius: 10px;
        padding: 10px 0 ;
        margin-bottom: 60px;
        .child2_title{
            font-size: 28px;
            padding: 10px;
        }
        .child2_content{
            width: 100%;
            
            .each_content{
                padding: 0 20px;
                display: flex;
                // min-width: 300px;
                justify-content: space-between;
                align-items: center;
            }
    
        }
    }
    .backButton{
        position: fixed;
        bottom: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $button-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: white;
        cursor: pointer;
    transition: 0.5s;
    &:hover{
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    }
    }
}

@media (max-width:850px){
    .completedTopic_container{
        padding: 10px;
        align-items: flex-start;
        margin: auto;
        .container_child1{
            width:100%;
            font-size: 90%;
            
        }
        .container_child2{
            width: 100%;
            .child2_title{
                font-size: 130%;
            }
            .child2_content{
                font-size: 90%;
                // .each_content{

                // }
            }
        }
        // .backButton{
        // //    margin: 10px;
        // }
    }
}
@media (max-width:450px){
    .completedTopic_container{
        // display: flex;
        
        
        .container_child2{
        
            .child2_content{
                
                .each_content{

                    padding :0  0  0 10px;
                }
            }
        }
        
    }
}